.header{
    background: rgba(157, 143, 143, 0.83);
    height: 10vh;
    margin:0;
    text-align:center;
    padding-top:15px;
    color:white;
    font-family: sans-serif;
    margin-bottom:15px;
}