.Container {
    display:grid;
    grid-template-columns:60vw auto;
    .columnOne{
        align-self:center;
        height: 80vh;
        .inputFields{
            background-color:white;
            .mT{
                background-color:rgb(115, 115, 214);
                color:white;
                text-align:center;
                border-radius: 18px;
                padding:10px 5px 10px;
                justify-items:center;
                margin-bottom: 10px;
                margin-right:25%;
                margin-left:25%;
            }
            .Notes{
                display:flex;
                margin-bottom: 10px;
                margin-right:50%;
                margin-left:50%;
                justify-content:space-evenly;
                div input[type="radio"]{
                    opacity:0;
                    width:0;
                }
                div label {
                    display:inline-block;
                    background-color: white;
                    font-size: 10px;
                    border:1px solid black;
                    padding:10px;
                    border-radius: 18px;
                }
            }
            .miniMenu{
                margin-right:25%;
                margin-left:25%;
                .inline{
                    display:flex;
                    justify-content:space-evenly;
                    button{
                        border-radius:18px;
                        background-color:rgb(115, 115, 214);
                        color:white;
                        border: 0;
                    }
                }
            }
        }
    }
    .columnTwo{
        border-left:1px solid black;
        height: 80vh;
        align-self:center;
        .History{
            background-color:rgb(115, 115, 214);
            color:white;
            text-align:center;
            border-radius: 18px;
            padding:10px 25px 10px;
            justify-items:center;
            margin-bottom: 10px;
            margin-right:50%;
            margin-left:50%;
            border:0;
        }
    }
}